<div class="form-group">
    <form [formGroup]="loginForm" class="form" *ngIf="user == null">
        <div class="full-width">
            <input type="email" formControlName="email"  placeholder="Email" class="form-control">
        </div>
        <div class="full-width">
            <input type="password" formControlName="password" placeholder="Password" class="form-control">
        </div>

        <div>
              <button class="btn btn-primary btn-lg" (click) = "logIn()">Log In</button>
        </div>
    </form>
</div>
<div>
    {{message}}
    <!--button (click) = "logIn()">Log In</button>
    <button (click) = "logOut()">Log Out</button-->
    
</div>
