<!--The whole content below can be removed with the new code.-->
<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <div class="container-fluid">
    <ul class="navbar-nav navbar-left">
      <li *ngFor="let item of navItems" class="nav-item">
        <a class="nav-link" [routerLink]="item.link" routerLinkActive="active-link">{{item.name}}</a>
      </li>
    </ul>
  </div>
  <div *ngIf="!isUserLoggedIn">
    <ul class="navbar-nav navbar-right">
      <li class="nav-item"><span class="glyphicon glyphicon-log-in"></span><a class="nav-link" (click)="showLoginForm($event)"> Sign In</a></li>
      <li class="nav-item"><span class="glyphicon glyphicon-user"></span> <a class="nav-link" routerLink="Register">Sign Up</a></li>
    </ul>
  </div>
  <div *ngIf="isUserLoggedIn">
    <ul class="navbar-nav navbar-right">
      <li class="nav-item"><span class="glyphicon glyphicon-user"></span> <a class="nav-link" routerLink="MyAccount">My Account</a></li>
    </ul>
  </div>


</nav>

<div class="login-form" *ngIf="isLoginFormShown">
  <!--<app-authorization [user]="user" (onAlerted)="showAlert($event)"></app-authorization>-->
  <app-authorization></app-authorization>
</div>
<div>
  <app-breadcrumb></app-breadcrumb>
</div>

<router-outlet></router-outlet>