.boldText{
    font-weight: bold;
    }
.red{
color:red;
}
a {color:#656565;
text-decoration: none}
a:hover {
    color:#efefef;
    text-decoration: underline;
}
a:active-link
{
    color:red;
    text-decoration: underline;
}
.form_row
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;

}
.form
{
    width: 500px;
}
label
{display :block;
font-weight: bold;
width: 200px}
.form_input

    width:100%;

.form_row + .form_row
{
    margin-top:5px;
}
.content, .form-group
{
    margin: 20px;
}

.content table
{
width: 600px;
}

.filter
{
    width:200px;
}