.form_row
    display: flex 
    justify-content: space-between 
    align-items: center 
    width: 450px 
.form
    width: 500px 

label
display :block 
font-weight: bold 
width: 200px
.form_input
    width:100% 
 
.form_row + .form_row
    margin-top:5px 

.content
    margin: 20px;
